@if (!submitted){
    <form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)"
        (keydown.enter)="$event.preventDefault()">
        <div class="mb-3">
            <label for="courseId" class="form-lable">課程ID</label>
            <input type="text" class="form-control" name="courseId"
             [(ngModel)]="course().courseId">
        </div>
        <button >Submit</button>
    </form>
    <div style="border-bottom:1px solid black;background-color : gainsboro;">
        courseForm.status: {{courseForm.status}}
    </div>
    <div style="border-bottom:1px solid black;background-color : gainsboro;">
        courseForm.value: {{courseForm.value | json}}
    </div>

}@else {
    <div class="table">
        <div class="row">
            <div class="col-4">課程ID: </div>
            <div class="col-6">{{course().courseId}}</div>
        </div>
        <div>
            <button class="btn btn-primary" >編修</button>
        </div>
    </div>
}
