@if (!submitted){
    <form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)">
        <div class="mb-3">
            <label for="courseId" class="form-lable">課程ID</label>
            <input type="text" class="form-control" name="courseId"
             [(ngModel)]="course().courseId">
        </div>
        <button >Submit</button>
    </form>
}@else {
    <div class="table">
        <div class="row">
            <div class="col-4">課程ID: </div>
            <div class="col-6">{{course().courseId}}</div>
        </div>
        <div>
            <button class="btn btn-primary" >編修</button>
        </div>
    </div>
}
